//-----------------------//
//---base / Containers---//
//-----------------------//

.l-header-container,
.l-footer-container
	position: relative
	height: inherit
	text-align: center

.container-2-to-4 // Контейнер главного окна (по 2 элемента на моб, по 4 - на планшетах и широких экранах)
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-content: space-between
	width: 100%

@media screen and (min-width: 1024px) // Широкие экраны
	main,
	.l-header-container,
	.l-footer-container
		margin: 0 auto
		width: 95%

@media screen and (min-width: 1366px) // фиксирование контента на широких экранах
	main,
	.l-header-container,
	.l-footer-container
		width: 1200px