//------------------//
//--layout / Grids--//
//------------------//

.main-wrapper,
.bonuses-wrapper, 
.jackpots-wrapper, 
.articles-wrapper, 
.ranking-wrapper,
	text-align: center // Выравнивание заголовка секции
	width: 100%
.text-2-wrapper
	text-align: left // Возвращаем 2му блоку текста выравнивание

div
	&[class$="-wrapper"]
		margin-bottom: 20px

@media screen and (min-width: 1024px) // Широкоэкранная структура
	.grid-3-to-1-columns //Разделение 3 к 1 (только на широких экранах)
		grid-template-columns: 74% 24%
		display: grid
		grid-gap: 1%
		align-items: start

	.grid-2-to-1-columns //Разделение 2 к 1 (только на широких экранах)
		grid-template-columns: 66% 33%
		display: grid
		grid-gap: 1%
		align-items: start

	.sidebar-content // удалить
		grid-template-columns: 100%

	.main-content,
	.jackpots-wrapper
		grid-column: 1/2
	.sidebar-content,
	.ranking-wrapper
		grid-column: 2/3

// @media screen and (max-width: 568px) // Убираем секцию "Рейтинг" на мобильных
// 	.ranking-wrapper
// 		display: none

@media screen and (min-width: 569px) and (max-width: 1023px) 
	.grid-1-to-1-columns // Разделение наполовину (только на планшетах)
		display: grid
		grid-template-columns: 49% 49%
		grid-gap: 1%
		align-items: start

@media screen and (max-width: 1023px) // Убираем секцию "Текст 2" на планшетах и моб
	.text-2-wrapper
		display: none


