//--------------------//
//-modules / Articles-//
//--------------------//

.text-field
	margin: 20px

.article-item
	display: flex
	justify-content: center
	flex-wrap: wrap
	padding: 5px
	font-size: 0.8rem
	line-height: 0.9rem
	margin: -5px // Компенсируем внутренний отступ для ячейки в таблице статей
	&:hover
		color: #fff
		transition: all linear 0.1s
		.article-name
			color: #fff
			transition: all linear 0.1s

.article-name
	text-transform: uppercase
	font-weight: 700
	color: $c-main-purple
	text-align: center
	
.article-annotation
	font-style: italic
	text-align: left
	padding: 5px