//--------------------//
//-modules / Buttons--//
//--------------------//

.button-more // Кнопка "Больше слотов" на планшетах и мобильных
	display: inline-block
	justify-self: center
	padding: 10px 15px
	font-size: 0.8rem
	font-weight: 700
	text-transform: uppercase
	color: $c-main-purple
	background-color: #fff
	border-radius: 0.5em
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2)
	&:hover
		color: #fff
		background: $c-light-purple
	&:active
		box-shadow: none
		background: $c-yellow

.purple-button
	display: inline-block
	color: #fff
	background-color: $c-main-purple
	text-transform: uppercase
	justify-self: center
	padding: 10px 15px
	border-radius: 0.5em
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2)
	font-weight: 700
	&:hover
		background-color: $c-light-purple
	&:active
		box-shadow: none
		background: $c-yellow


#more-button
	&:hover
		cursor: pointer