//---------------------//
//--modules / Filters--//
//---------------------//

.filter-container
	background-color: #fff
	text-transform: uppercase
	margin-bottom: 10px

.filter-head
	text-align: center
	color: $c-main-purple
	text-transform: uppercase
	font-weight: 700
	width: 100%
	cursor: pointer
	padding: 10px
	box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.3)
	span
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			right: -15px
			border: 2px solid $c-main-purple
			width: 6px
			height: 6px
			transform: rotate(135deg)
			border-left: 0
			border-bottom: 0
			transition: all ease 0.5s

.filter-open
	background-color: $c-tablerow-white
	span
		&:after
			transform: rotate(-45deg)
			top: 5px
			transition: all ease 0.5s

.filter-content
	display: none
	padding: 10px
	font-size: 0.8rem

.filter-field
	text-align: center
	margin-bottom: 10px
	width: 100%
	position: relative
	span
		display: inline-block
		font-weight: 700
		color: $c-main-purple
		margin: 5px
	label
		display: flex
		align-items: center
		height: 16px
		cursor: pointer
		position: relative
		padding-left: 25px
		color: $c-filter-unchecked
		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 1px
			width: 10px
			height: 10px
			border-radius: 50%
			border: solid 2px #fff
			background-color: #fff
			box-shadow: 0px 0px 0px 2px $c-filter-unchecked
			transition: all linear 0.1s
	input[type=checkbox]
		display: none
		&:checked + label
			color: $c-main-purple
			font-weight: 700
			transition: all linear 0.1s
			&:before
				background-color: $c-main-purple
				box-shadow: 0px 0px 0px 2px $c-main-purple
				transition: all linear 0.1s

.filter-values
	text-align: left
	padding: 10px

.filter-list
	max-height: 150px
	background-color: $c-tablerow-white
	overflow-y: scroll
	-webkit-overflow-scrolling: touch
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2)

.button-scroll-up,
.button-scroll-down
	text-transform: uppercase
	color: $c-filter-unchecked
	padding: 7px
	font-size: 0.7rem
	width: 100%
	border: 1px solid $c-bottomline-grey
	transition: all linear 0.2s
	&:active
		color: #fff
		background: $c-bottomline-grey
		transition: all linear 0.2s

::-webkit-scrollbar
		width: 15px
 
::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2)
		overflow: hidden
 
::-webkit-scrollbar-thumb
		background: #fff
		border-radius: 0.5em
		border: 1px solid $c-bottomline-grey
		box-shadow: 1px 0px 5px rgba(0,0,0,0.3)

@media screen and (min-width: 1024px)
	.main-slots
		order: -1
	.filter-head,
	.button-scroll-up,
	.button-scroll-down
		display: none
	.filter-content
		display: block

@media screen and (max-width: 1023px)
	.filter-content
		flex-wrap: wrap
		justify-content: space-between

@media screen and (min-width: 568px) and (max-width: 1023px)
	.filter-field
		width: 30%