//---------------------//
//---modules / Footer--//
//---------------------//

.footer-slot-machine
	height: 200px
	position: absolute
	left: 0

.l-footer-container
	padding: 1em
	position: relative
	p, a
		color: #fff
		font-size: 0.8em
		text-align: center
.footer-menu
	display: flex
	justify-content: center
	a
		display: block
		text-transform: uppercase
		margin: 1em
		&:hover
			color: $c-light-purple
		&:active
			color: $c-yellow
	ul
		padding: 0.5em

.social
	a
		display: inline-block
		margin: 0.5em
	svg
		width: 30px
		height: 30px
		fill: #fff
		&:hover
			fill: $c-light-purple
		&:active
			fill: $c-yellow


@media screen and (min-width: 425px)
	.footer-menu
		ul
			display: flex
			justify-content: space-around
		li
			border-right: 2px solid rgba(0,0,0,0.1)
			&:first-of-type
				border-left: 2px solid rgba(0,0,0,0.1)

@media screen and (max-width: 1023px)
	.footer-slot-machine
		display: none