//------------------//
//-modules / Header-//
//------------------//

.logo
	position: absolute
	left: 10px
	width: 145px
	height: 50px
	background: url('../img/logo.svg') no-repeat center
	background-size: contain

.header-menu,
.menu-main,
.menu-button
	display: flex
	
.header-menu
	justify-content: flex-end
	height: inherit
	flex-wrap: wrap

.menu-main
	a, li
		display: flex
		align-items: center
		justify-content: center
	a
		padding: 10px
		text-transform: uppercase
		font-weight: 700
		font-size: 0.8rem
		color: #fff
		height: 100%
		width: 100%
		i
			display: none // Убираем стрелки вниз на мобильных

.menu-second // Убираем выпадающее меню на мобильных
	display: none

.menu-button // Контейнер кнопки на мобильных
	justify-content: flex-end
	cursor: pointer
	height: 50px
	flex-basis: 100%

.hamburger, // Рисуем кнопку
.hamburger::before,
.hamburger::after
	content: ''
	display: block
	background: #fff
	height: 4px
	border-radius: 0.2em
	width: 2.2em
	transition: all ease-in-out 300ms
.hamburger::before
	transform: translateY(-8px)
.hamburger::after
	transform: translateY(4px)
.open // Кнопка-крестик
	.hamburger
		transform: rotate(45deg)
		&::before
			opacity: 0
		&::after
			transform: translateY(-4px) rotate(90deg)

@media screen and (min-width: 1024px) // ШИРОКИЕ ЭКРАНЫ
	.logo
		width: 180px
		height: 50px
	.menu-main
		height: inherit
		li
			position: relative
			&:hover
				box-shadow: 0px 0px 75px -2px rgba(0,0,0,0.4)
				transition: all ease 400ms;
				.menu-second
					display: block
			a
				span
					&::after // Стрелка вниз
						display: inline-block
						content: ''
						margin-left: 5px
						padding-bottom: 2px
						width: 0
						height: 0
						border-left: 5px solid transparent
						border-right: 5px solid transparent
						border-top: 5px solid $c-yellow
				&:active // Меню при нажатии
					background: $c-yellow
					color: $c-main-purple
					span
						&::after
							border-top: 5px solid $c-main-purple
	.header-is-active a span
		color: red
	.menu-second
		position: absolute
		z-index: 2
		top: 100%
		width: 100%
		background: #fff
		box-shadow: 0px 20px 75px -2px rgba(0,0,0,0.8)
		li
			height: 50px
			&:hover
				box-shadow: 0px 0px 75px -2px rgba(82,88,149,0.2)
				transition: all ease 300ms
			&:not(:last-of-type)
				border-bottom: 1px solid rgba(0,0,0,0.1)
		a
			padding: 7px
			color: $c-main-purple
			font-weight: 700
			&:hover
				color: $c-yellow
				&::after // Желтая полоса при наведении
					content: ''
					display: block
					position: absolute
					bottom: -1px
					left: 0
					width: 100%
					height: 3px
					background: $c-yellow
	.menu-button
		display: none

@media screen and (max-width: 1023px) // ПЛАНШЕТЫ И МОБИЛЬНЫЕ
	.menu-main
		display: none
		align-content: center
		justify-content: space-around
		flex-wrap: wrap
		width: 100%
		height: 130px
		a
			color: $c-main-purple
		li
			flex-basis: 46%
			margin: 1% 0
			min-height: 40px