//---------------------------//
//---- modules / Items -----//
//-------------------------//

.item-2-to-4
	display: flex
	justify-content: center
	position: relative
	margin-bottom: 4%
	width: 45%
	overflow: hidden
	a
		position: absolute
		width: 100%
		height: 100%
	
.picture-item-2-to-4
	display: flex
	justify-self: center
	position: absolute
	bottom: 45px
	overflow: hidden

.name-item-2-to-4
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	height: 45px
	width: 100%
	bottom: 0
	padding: 5px
	background-color: #fff

@media screen and (min-width: 569px) // ПО 4 ЭЛЕМЕНТА НА ПЛАНШЕТАХ И ШИРОКИХ ЭКРАНАХ
	.item-2-to-4
		width: 23%
		margin-bottom: 2%