//---------------------------//
//-- modules / Providers  --//
//-------------------------//

.providers-item
	background-color: #fff
	.providers-picture
		img
			width: 140px
			height: 80px

@media screen and (min-width: 1024px) // Стили для широких экранов
	.providers-item
		min-height: 100px
		&:hover
			box-shadow: none

@media screen and (max-width: 1023px)
	.providers-item
		.providers-picture
			img
				width: 110px

@media screen and (min-width: 1024px) // Стили для широких экранов
	.providers-item
		.providers-picture
			img
				width: 160px
				height: 100px