//---------------------//
//--modules / Ranking--//
//---------------------//

.ranking-value
	font-size: 1.5rem
	width: 25%

.rank-green
	color: $c-green

.rank-yellow
	color: $c-yellow

.rank-red
	color: $c-red

.rank-orange
	color: $c-orange