//---------------------------//
//-- modules / Slots --//
//-------------------------//

.slots-item
	min-height: 150px
	.picture-item-2-to-4
		img
			height: 110px
			width: 140px

.slots-item-link
	span
		visibility: hidden

.slot-name
	font-weight: 700
	font-size: 0.8rem
	color: $c-main-purple
	text-transform: uppercase

@media screen and (min-width: 321px)
	.slots-item
		.picture-item-2-to-4
			img
				width: 250px

@media screen and (min-width: 1024px) // Стили для широких экранов
	.slots-item
		min-height: 180px
		&:hover
			box-shadow: none
			picture
				filter: blur(1px) saturate(120%) opacity(80%)
		.picture-item-2-to-4
			img
				width: 230px
				height: 146px

	.slots-item-link
		display: flex
		justify-content: center
		align-items: center
		padding-bottom: 45px
		&:hover
			span
				visibility: visible