//--------------------//
//--modules / Tables--//
//--------------------//

.table-picture
	display: flex
	justify-content: start
	align-items: center
	picture
		margin-right: 3%
		img
			width: 90px

.table
	width: 100%
	border-collapse: collapse
	background-color: $c-tablerow-white
	font-size: 0.8rem
	font-weight: 600
	th
		padding: 10px
	td
		padding: 5px
	tr
		&:not(:first-of-type):not(:last-of-type)
			border-bottom: 1px solid $c-bottomline-grey
			&:hover
				cursor: pointer
				color: #fff
				td
					background: $c-light-purple
					transition: all linear 0.1s
				.ranking-value
					color: #fff
			&:active
				td
					background: $c-yellow
					transition: none

.table-cell-white
	background-color: #fff
	font-weight: 700

.table-cell-purple
	background: $c-main-purple

.table-purple-menu
	background: $c-tablerow-purple
	color: #fff
	text-transform: uppercase

@media screen and (max-width: 1023px) // Стили для планшетов и мобильных
	.table
		tr
			&:first-of-type
				display: none // Скрываем строку меню

	.jackpot-table
		tr
			&:not(:last-of-type)
				td, th
					&:last-of-type
						display: none // Скрываем ячейки "Платформа"

@media screen and (min-width: 1024px) // Стили для широких экранов
	.table-button-row
		background: #fff
		font-weight: 700
		text-transform: uppercase
		td
			padding: 10px
		a
			color: $c-main-purple
		&:hover
			cursor: pointer
			background: $c-tablerow-purple
			transition: all linear 0.1s
			a
				color: #fff
				transition: all linear 0.1s
		&:active
			background-color: $c-yellow
			transition: none
	.table-picture
		picture
			img
				width: 100px