//--------------------//
//-utilities / Mixins-//
//--------------------//


%more-link // Кнопка "Больше"
	background: $purple-gradient
	border-radius: 0.5em
	& a 
		display: inline-block
		color: #fff
		text-transform: uppercase
		font-weight: 400
		margin: 0.5em 1em


//НОВОЕ//

.item-style-main
	border-radius: 0.5em
	box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.2)
	overflow: hidden

.container-style-main
	border-radius: 1em
	box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.2)
	overflow: hidden