//----------------//
//---base / Base--//
//----------------//

@import "fonts"

html
	font-size: 100%

body
	background-color: $c-tablerow-grey
	font-family: 'Montserrat', sans-serif
	color: $c-dark-purple

header
	width: 100%

header,
footer
	background: url('../img/back.jpg')
	background-size: 400px 400px

main // Область контента
	padding: 10px
	background: rgba(255,255,255,0.95)
	text-align: center

h1,
h2
	font-family: 'Gilroy', sans-serif
	text-transform: uppercase
	margin:
		bottom: 0.5em
		top: 0.2em
	font-weight: 700
	font-size: 1.5rem
	color: $c-main-purple
p
	font-size: 0.9rem
	line-height: 1.4em // поменять
	font-weight: 500
	color: #000
	text-align: left
	a
		font-weight: 600
		color: $c-main-purple
		text-decoration: underline
		text-decoration-skip: ink
		&:hover
			color: $c-light-purple
		&:active
			color: $c-yellow

button
	font-family: 'Montserrat', sans-serif

@media screen and (min-width: 1024px) // ШИРОКИЕ ЭКРАНЫ
	h1
		font-size: 2rem
		font-weight: 400
		letter-spacing: 1px
	h2
		font-size: 1.3rem
	header
		height: 50px

