//-----------------//
//---base / Fonts--//
//-----------------//

@font-face
	font-family: 'Gilroy'
	src: url('../fonts/gilroy-extrabold.woff') format('woff')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/montserrat-italic.woff') format('woff')
	font-weight: 400
	font-style: italic

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/montserrat-regular.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/montserrat-medium.woff') format('woff')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/montserrat-semibold.woff') format('woff')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/montserrat-bold.woff') format('woff')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/montserrat-extrabold.woff') format('woff')
	font-weight: 800
	font-style: normal