//----------------//
//--base / Reset--//
//----------------//

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
var,
b,
i,
ol,
ul,
li,
form,
label,
article,
footer,
header,
menu,
nav,
output,
section
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

*
	box-sizing: border-box

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
nav,
section
	display: block

body
	line-height: 1

ol,
ul
	list-style: none

a
	text-decoration: none

button
	background: none
	border: none